.nav {
    /* 背景色設定 */
    background-color: #666;
    justify-content: space-between;
    display: flex;
    padding-left: 10px;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.nav a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px 10px 0px;
    display: block;
    font-size: large;
    font-weight: 800;
}

.nav a:hover {
    color: #aaa;
}

/*スマホ対応*/
@media screen and (max-width: 640px) {
    .nav {
        background-color: #0183a0;
        height: 40px;
    }
}
