.box {
  font-weight: bold;
  font-size: small;
  text-align: center;
  justify-content: center;
  padding-left: 30px;
  display: flex;
}

/* tablet */
@media (max-width: 768px) {
  .box {
    padding-left: 0;
  }

  .icon {
    margin: 10px;
  }
}

/* mobile */
@media (max-width: 480px) {
  .box {
    padding-left: 0;
  }

  .icon {
    margin: 10px;
  }

  .box div,
  .box p {
    width: 100%;
  }
}
