.App {
  text-align: center;
}

.odd {
  padding: 20px;
  background-color: whitesmoke;
}

.even {
  padding: 20px;
}

.parent {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  overflow: hidden;
}

.child {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  overflow: hidden;
}

.icon {
  margin: 20px;
}

.title {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.toggleButton {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  margin-right: 10px;
}

.contents {
  margin-top: 40px;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 50px;
}

.contents_ul {
  padding-left: 0;
  list-style: none;
  display: inline-block;
}

.contents_li {
  text-align: left;
}

.contents {
  margin-top: 40px;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
}

/* tablet */
@media (max-width: 768px) {
  .parent,
  .child {
    width: 200px;
    height: 200px;
  }

  .contents {
    gap: 30px;
  }

  .title h1 {
    font-size: 24px;
  }

  .icon {
    margin: 10px;
  }
}

/* mobile */
@media (max-width: 480px) {
  .contents {
    flex-direction: column;
  }

  .parent,
  .child {
    width: 100%;
    max-width: 300px;
    height: auto;
  }

  .contents_li {
    text-align: left;
    font-size: 10px;
  }
}
